<html>

<head>

	<meta name="viewport" content="width=device-width">
	<title>Holidays</title>

	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/main.css">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="{{STATIC_URL}}js/ajax.js"></script>
	{% block extraHead %}
	{% endblock %}
	
</head>

<body>
	<div id="topbar">
		{% block topbar %}
			<h2>Holidays</h2>
			{% if user.is_authenticated %}
				{{ user.username }} {% if user.email %} ({{user.email}}) {% endif %}
				<button><a href="{% url 'logout' %}">LOGOUT</a></button>
			{% endif %}

		{% endblock %}
	</div>
	
	<div class="content">
		{% block content %}
		{% endblock %}
	</div>
	
</body>

</html>