{% extends 'core/base.html' %}

{% block extraHead %}
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/login.css">
{% endblock %}

{% block content %}

<div id="loginBox">
	<form method="post" action="{% url 'login' %}">
	{% csrf_token %}
	<table id="loginTable">
		<tr>
			<td><input id="id_username" class="loginInput" maxlength="254" name="username" type="text" placeholder="username"></td>
		</tr>
		<tr>
			<td><input id="id_password" class="loginInput" maxlength="254" name="password" type="text" placeholder="password"></td>
		</tr>
		<tr>
			<td id="loginErrors">{% if form.errors %}Please enter a valid username and password.{% endif %}</td>
		</tr>
		<tr>
			<td><input type="submit" value="Login" id="loginSubmit"/></td>
		</tr>
	</table>
	
	<input type="hidden" name="next" value="{{ next }}" />
	</form>

</div>


{% endblock %}