{% load holiday_utils %}
<div id="holidays_{{ staff.id }}_{{ year }}">
	<h2 class="holidaysYear">{{ year }}</h2>
	<h6 class="holidaysRemaining">{{ staff|holidays_remaining:year }} days of holiday remaining</h6>
	
	<table class="holidaysTable">
		<tr class="empty" onclick="loadHolidays({{staff.id}}, {{year}});">
			<td></td>
		</tr>
		<tr class="empty" onclick="loadHolidays({{staff.id}}, {{year}});">
			<td></td>
		</tr>
		<tr class="empty" onclick="loadHolidays({{staff.id}}, {{year}});">
			<td></td>
		</tr>
	</table>
</div>
