{% load holiday_utils %}
<div id="holidays_{{ staff.id }}_{{ year }}">
	<h2 class="holidaysYear">{{ year }}</h2>
	<h6 class="holidaysRemaining">{{ staff|holidays_remaining:year }} days of holiday remaining</h6>
	
	<table class="holidaysTable">
		{% if current and staff == user %}
			<tr>
				<td>FORM TBA</td><td></td>
			</tr>
		{% endif %}
		{% for holiday in staff.holidays.all|by_year:year %}
			<tr>
				{% if holiday.start_date == holiday.end_date %}
					<td class="holidaysDate">{{ holiday.start_date|date:"D d M" }}</td>
				{% else %}
					<td class="holidaysDate">{{ holiday.start_date|date:"D d M" }} - {{ holiday.end_date|date:"D d M" }}</td>
				{% endif %}
				<td class="holidaysApproval">
					{% if holiday.approved %}
						<button class="holidaysButton holidaysApproved">APPROVED</button>
					{% elif holiday.approved == None %}
						<button class="holidaysButton holidaysWaiting">WAITING</button>
					{% else %}
						{# approved is False #}
						<button class="holidaysButton holidaysRejected">REJECTED</button>
					{% endif %}
				</td>
			</tr>
		{% empty %}
			<tr>
				<td>No holiday taken</td>
			</tr>
		{% endfor %}
	</table>
</div>