body {
	background-color: #E0D6D5;
}

.content {
	width: 800px; 
	margin: 4px auto;
}

h1 {
}

h3 {
	color: #99A3A8;
}

.holidaysTable {
	border: 1px solid #99A3A8;
	width: 800px;
	border-collapse: collapse;
}

.holidaysTable th,.holidaysTable td {
    border-bottom: 1pt solid #99A3A8;
    text-align: center;
}


.holidaysTable tr {
	height: 50px;
	background-color: white;
	
}

.holidaysButton {
	width: 150px;
	height: 35px;
	border-radius: 5px;
	text-align: center;
	vertical-align: middle;
	outline: none;
}

.holidaysApproved {
	background-color: #4FE319;
	border: 1px solid green;
}

.holidaysWaiting {
	background-color: #F7942A;
	border: 1px solid orange;
}

.holidaysRejected {
	background-color: #FC3721;
	border: 1px solid red;
}