.holidaysRemaining {
    float: right;
    margin-bottom: 0px;
    font-size: 12px;
	bottom: 0;
}

.holidaysYear {
    float: left;
    margin-bottom: 0px;
}


.holidaysTable {
	border: 1px solid #99A3A8;
	width: 800px;
	border-collapse: collapse;
}

.holidaysTable th,.holidaysTable td {
    border-bottom: 1pt solid #99A3A8;
    text-align: center;
}


.holidaysTable tr {
	height: 50px;
	background-color: white;
}

.holidaysTable .empty {
	background-color: white;
	height: 10px;
}

.holidaysTable .empty:hover {
	cursor: pointer;
}

.holidaysApproval {
	width: 250px;
}

.dateInput {
	height: 28px;
	width: 170px;
	margin: 4px;
}

#holidaySubmit {
	background-color: #3CD670;
	color: black;
	height: 42px;
	width: 42px;
	text-align: center;
	border: none;
	font-size: 15px;
	border-radius: 30px;
}

#holidaySubmit:hover {
	background-color: #249E4E;
}

.holidaysButton {
	width: 150px;
	height: 35px;
	border-radius: 5px;
	text-align: center;
	vertical-align: middle;
	outline: none;
}

.holidaysApproved {
	background-color: #4FE319;
	border: 1px solid green;
}

.holidaysWaiting {
	background-color: #F7942A;
	border: 1px solid orange;
}

.holidaysRejected {
	background-color: #FC3721;
	border: 1px solid red;
}
